* {
    font-family: "JetBrains Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

/* Gradient background */
body {
    background: linear-gradient(162deg, rgba(2, 0, 36, 1) 0%, rgba(9, 102, 121, 1) 35%, rgba(0, 255, 218, 1) 100%);
    color: #d4d4d4;
    font-family: Arial, sans-serif;
    max-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 255, 218, 1) 0%, rgba(9, 102, 121, 1) 100%);
    /* Give it an Opacity of 0 and create your animation property: */
    opacity: 0;
    animation-name: bg;
    animation-duration: 2800ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    z-index: -1;
}

@keyframes bg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


div {
    /* border: 1px solid green; */
}


#mainLink {
    text-decoration: none;
    color: #d4d4d4;
    padding: 5px;
}

#mainLink:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    height: 90vh !important;
    transform: translateY(5vh);
    border-radius: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar-menus {
    height: 100%;
    border-radius: 10px !important;
    padding-right: 0;
    margin-right: 0;

}

.mainrow {
    align-items: center;
    height: 100%;
    border-radius: 10px !important;
    background-color: rgba(0, 0, 0, 0.2);
    padding-right: 5px;
}

.main-content {
    border-radius: 10px !important;
    height: 98%;
}

i.close {
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}


i.min {
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;

}

i.max {
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;

}

i.close,
i.min,
i.max {
    color: gray;
}

i.close:hover {
    color: red;
}

i.min:hover {
    color: orange;
}

i.max:hover {
    color: green;
}

.treedots {
    font-size: 16px;
    color: gray;
    font-weight: bold;
    letter-spacing: 0.4cap;
}

.div3dots {
    margin-top: 5px;

}

#winbuttons {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
}

.sidebar-icons {
    color: #d4d4d4;
    font-size: 30px;
    margin: 10px 10px 10px 0px;
    padding: 0 0 0 1px;
}

.sidebar-icons a {
    display: block;
    text-decoration: none;
    color: #828282;
    margin: 10px 0 20px 0;
    padding-left: 10px;
    width: 100%;

}

.sidebar-icons a.active,
.sidebar-icons a:hover {
    color: #d4d4d4;
}

.sidebar-icons a.active {
    border-left: 2px solid #d4d4d4;
}


#sidebar-menu {
    padding-right: 0;
    margin-right: 0;
}

#sidebar-menu>ul {
    padding: 0;
    margin: 0;
}

#sidebar-menu li {
    position: relative;
}

#sidebar-menu li a {
    text-decoration: none;

    color: #d4d4d4;
    padding: 5px 0 5px 10px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

#sidebar-menu li a:hover {
    color: #fff;
}

#sidebar-menu li a.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);

}

#sidebar-menu li {
    list-style: none;
    margin: 5px 0 10px 0;
}

#sidebar-menu li a i {
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}

li .multi-collapse li {
    position: relative;
    left: -25px;
}

#rowpages {
    height: 5%;
}

ul#main-contentpages {
    padding: 0px;
    margin-bottom: 0;

}

ul#main-contentpages li {
    list-style: none;
    margin: 0px 0;
    padding: 00px 00px 0 00px;
    display: inline-block;
}

ul#main-contentpages li a {
    display: inline-block;
    width: 100%;
    padding: 12px;
    color: gray;
    text-decoration: none;
    font-size: 14px;

}

ul#main-contentpages li a.active {
    background-color: #222;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

/* Width and height
::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
*/
/* Track (the area behind the thumb)
::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 10px;
}*/

/* Scrollbar handle (thumb)
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}*/

/* Thumb on hover
::-webkit-scrollbar-thumb:hover {
    background: #888;
}*/


#rowopenpage {
    background-color: #222;
    padding: 20px;
    height: 95%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;

    scrollbar-color: #555 #2c2c2c;
    /*
    scrollbar-width: thin;
    scrollbar-width: none;
    Firefox
    scroll-snap-type: y mandatory;*/
}

#rowopenpage::-webkit-scrollbar {
    /* Webkit (Chrome, Safari, Edge) */
}

#btShowMenu {
    border: 0px;
    border-radius: 0;
    font-size: 1.5rem;
    color: #d4d4d4;
    background-color: transparent;
    position: fixed;
    top: 5px;
    left: 5px;

}

#btShowMenu:active {
    border: 0px;
    border-radius: 0;
    font-size: 1.5rem;
    color: #d4d4d4;
    background-color: #222;


}

#backDropMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    body {
        overflow-y: hidden;
    }

    /* Add your styles for devices with a max width of 768px here */

    #backDropMenu {
        position: fixed;
        top: -10%;
        left: -10%;
        width: 150vw;
        height: 150vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .container {
        height: 93vh !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 2% 0 1% 1% !important;
        top: 0 !important;
        position: fixed !important;
        border: 0px;
    }

    .mainrow {
        margin: 5px;
        width: 100vw !important;
        background-color: transparent;
    }

    .sidebar-menus {
        border-radius: 0;
    }

    #sidebarMenu {
        position: fixed !important;
        top: 0;
        left: 10%;
        background-color: black;
        height: auto;
        width: 70%;
        border-radius: 0;
        z-index: 0;
    }

    .main-content {
        height: 90vh;
        padding: 0;
    }

    #rowopenpage {
        margin: 10px 10px 0 0px;
        padding: 0 0 0 10px;
        height: 80vh;
    }

    ul#main-contentpages li a.active {
        padding: 10px;
        background-color: #222;
    }

    #main-contentpages {
        margin-left: 10px;
    }
}
